 # ARAS

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

print("✅ Libraries Imported Successfully")

✅ Libraries Imported Successfully

In [3]:
# Load the processed data
data_path = 'C:\\Users\\Aras\\DSS\\Decision_supporting_systems\\data\\cleaned_data.csv'

if os.path.exists(data_path):
    df = pd.read_csv(data_path)
    print(f"✅ Data Loaded: {df.shape[0]} rows, {df.shape[1]} columns")
    display(df.head())
else:
    print("❌ Error: 'cleaned_data.csv' not found. Please run data_processing.py first.")

✅ Data Loaded: 1000 rows, 14 columns

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,Month,Year,Day_of_Week,Gender_Encoded,Category_Encoded
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150,11,2023,4,1,0
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000,2,2023,0,0,1
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30,1,2023,4,1,2
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500,5,2023,6,1,1
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100,5,2023,5,1,0